nav {
  position: fixed;

  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  max-width: 200px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  z-index: 99;
  background-color: #fff;
}
nav > a {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  display: inline-block;
  position: relative;
}
nav > a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #e5e5e5;
}
@media (max-width: 540px) {
  nav {
    max-width: 173px;
    text-align: center;
  }
  nav > a {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
  }
}
